<h1>Hello <%= @user.first_name %> </h1>

<p>
  We've gotten an indications that you would like your password reset for H.U.G.
  To change your password just follow the link <%= @url %>.

  If you did not make this request please ignore this email.
</p>
<p>
  Thanks and have a great day!
  Sincerely,
  Your Friends at H.U.G.
</p>